{% extends "template.html" %}
{% block conteudo %}
    <form method="post" action="{{ url_for('movel') }}">
        {{ form.hidden_tag() }}
        <div class="form-group inputBox">
            {{ form.andar.label(class="form-label") }}
            {{ form.andar(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.area_total.label(class="form-label") }}
            {{ form.area_total(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.banheiros.label(class="form-label") }}
            {{ form.banheiros(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.quartos.label(class="form-label") }}
            {{ form.quartos(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.suites.label(class="form-label") }}
            {{ form.suites(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.vaga.label(class="form-label") }}
            {{ form.vaga(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.condominio.label(class="form-label") }}
            {{ form.condominio(class="form-control") }}
        </div><div class="form-group inputBox">
            {{ form.iptu.label(class="form-label") }}
            {{ form.iptu(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.caracteristicas.label(class="form-label") }}
            {{ form.caracteristicas(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.localizacao.label(class="form-label") }}
            {{ form.localizacao(class="form-control") }}
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}